<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h4>ATM List</h4>
        <form name ="transaction" action="#" th:action="@{/process}" th:object="${atm}" method="post">

            <input type="hidden" th:field="*{id}" />
            Account: <input type="number" th:field="*{account}" />
                    <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span> <br /> <br />
            Action: <input type="text" th:field="*{action}">
                     <span th:if="${#fields.hasErrors('action')}" th:errors="*{action}"></span> <br /> <br />
            Amount: <input type="number" th:field="*{amount}" name="depositedAmount">
                    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span> <br /> <br />

            Reason: <input type="text" th:field="*{reason}">
                <span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></span> <br /> <br />
            <input type="submit"   value="Submit">

        </form>


</body>
</html>